



 

 .border {
    border-radius:0;
    line-height:40px;

}

/*
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
*/